
body {
    padding-top: 30px;
}

.espaciado {
    margin-bottom: 150px;
    
}
.fondo{
    background-image: url("../images/rock.PNG");
    background-size: cover;
    background-repeat:no-repeat;
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin:  auto;
    width: fit-content;
}

.linea{
    height: 3px;
    width: 50%;
    margin-top: 0.7rem !important;
    margin-bottom: 150px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-name: linea;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes linea{
    25%   {background-color: rgb(227, 51, 51);}
    25%  {background-color: yellow;}
    50%  {background-color: rgb(0, 204, 255);}
    25% {background-color: rgb(24, 247, 24);}
  }
.panel-title {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 50%;
    color: rgb(9, 9, 8);
    text-shadow: 3px 0 #dbe7b2;
    text-decoration: double;
}

.img-center {
  
justify-content: center;
    max-height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
.close{
    color: #f40b0b;
    font-size: 40px;
}
.merch-details {
    text-align: center;
    margin-top: 15px;
   margin-bottom: 15px;
   color: #fff;
   background-color: #3C2A21;
}

.merch-details strong {
    font-weight: bold;
}

.merch-price {
    font-size: 16px;
    font-weight: bold;
    color: #d8dc56;
}

.btn-buy {
     width: 30%;
    background-color: #0000008b;
    color:#fff;
   margin-left: 35%;
   margin-bottom: 5%;
}

.colorcard{
    background-color: rgba(207, 207, 207, 0.918);
    position: relative;
}

.modal-title {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(48, 107, 97);
    
}

.merch-picture{
    width: 300px; 
    height: 300px; 
    display: block; 
    margin: 0 auto;
}

.merch-cuenta{
    text-align: center;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(133, 26, 23);
    
}

.modal-content{
    width: 80%;
}

#btnShowPurchases {
    padding: 8px 16px;
    background-color: rgb(154, 152, 140);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }

  .header {
    display: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

@media (min-width: 768px) {
    .panel-merch {
        height: 430px;
    }

    .panel-merch .panel-body {
        height: 350px;
    }

    .panel-merch .panel-title {
        height: 40px;
    }
}
    