
body {
    padding-top: 20px;
}

.panel-merch {
    margin-bottom: 20px;
}

.panel-title {
    font-size: 18px;
    font-weight: bold;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 140px;
}

.merch-details {
    margin-top: 15px;
}

.merch-details strong {
    font-weight: bold;
}

.merch-price {
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
}

.btn-buy {
    width: 100%;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .panel-merch {
        height: 430px;
    }

    .panel-merch .panel-body {
        height: 350px;
    }

    .panel-merch .panel-title {
        height: 40px;
    }
}
    