
body {
    padding-top: 30px;
}

.espaciado {
    margin-bottom: 120px;
    
}
.fondo{
    background-image: url("../images/rock.PNG");
    background-size: cover;
    background-repeat:no-repeat;
}

.titulo{
font-family:'Courier New', Courier, monospace;
text-align: center;
}

.linea{
background-color: rgb(16, 20, 79);
height: 3px;
width: 50%;
margin-top: 0.7rem !important;
margin-bottom: 80px;

}

.panel-title {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 50%;
    color: rgb(246, 246, 188);
    text-shadow: 3px 0 #000000;
    text-decoration: double;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 180px;
}

.merch-details {
    text-align: center;
    margin-top: 15px;
   margin-bottom: 15px;
   color: #fff;
   background-color: rgba(48, 73, 69, 0.62);
}

.merch-details strong {
    font-weight: bold;
}

.merch-price {
    font-size: 16px;
    font-weight: bold;
    color: #d8dc56;
}

.btn-buy {
     width: 30%;
    background-color: #0000008b;
    color:#fff;
   margin-left: 35%;
}

.colorcard{
    background-color: rgba(154, 152, 140, 0.744);
}

.modal-title {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(48, 107, 97);
    
}

.merch-picture{
    width: 300px; 
    height: 300px; 
    display: block; 
    margin: 0 auto;
}

.merch-cuenta{
    text-align: center;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(133, 26, 23);
    
}

@media (min-width: 768px) {
    .panel-merch {
        height: 430px;
    }

    .panel-merch .panel-body {
        height: 350px;
    }

    .panel-merch .panel-title {
        height: 40px;
    }
}
    